<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    id="WebApp_ID" version="2.5">
    <display-name>LoginFormStruts</display-name>

    <filter>
        <filter-name>XSSFilter</filter-name>
        <filter-class>com.jwt.struts.filter.XSSFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>XSSFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

<!--    <filter>-->
<!--        <filter-name>SqlInjectFilter</filter-name>-->
<!--        <filter-class>com.jwt.struts.filter.SqlInjectFilter</filter-class>-->
<!--        <init-param>-->
<!--            <param-name>sqlInjectStrList</param-name>-->
<!--            <param-value>‘|or|and|;|-|&#45;&#45;|+|,|like|//|/|*|%|#</param-value>-->
<!--        </init-param>-->
<!--    </filter>-->
<!--    <filter-mapping>-->
<!--        <filter-name>SqlInjectFilter</filter-name>-->
<!--        <url-pattern>/*</url-pattern>-->
<!--    </filter-mapping>-->

 
    <servlet>
        <servlet-name>action</servlet-name>
        <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
        <init-param>
            <param-name>config</param-name>
            <param-value>
          /WEB-INF/struts-config.xml
       </param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
 
    <servlet-mapping>
        <servlet-name>action</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>
 
<!--    <welcome-file-list>-->
<!--        <welcome-file>login.jsp</welcome-file>-->
<!--    </welcome-file-list>-->
    
    <servlet>
        <servlet-name>wecController</servlet-name>
        <servlet-class>com.jwt.struts.action.WECReceiver</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>wecController</servlet-name>
        <url-pattern>/wec</url-pattern>
    </servlet-mapping>
 
</web-app>
